<%= form_for @changeset, @action, fn f -> %>
  <div class="field is-grouped">
    <div class="control is-expanded">
      <%= text_input f, :url, class: "input", placeholder: "Paste your URL" %>
    </div>
    <div class="control">
      <%= submit "Create", class: "button is-info" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="notification is-danger">
      <%= error_tag f, :url %>
    </div>
  <% end %>
<% end %>
