<h1 class="title">URL Created</h1>

<div class="box">
  <div class="is-size-1 is-link">
    <a href="<%= @url %>" target="_blank"><%= @url %></a>
  </div>
</div>

<a class="button is-info is-pulled-right" onclick="navigator.clipboard.writeText('<%= @url %>')">
  <span class="icon">
    <i class="fas fa-copy"></i>
  </span>
  <span>Copy</span>
</a>

<a class="button is-link is-pulled-left" href="/">
  Create Another URL
</a>
