<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShortURL</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body>
  <section class="hero is-fullheight is-dark">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <h1 class="title">ShortURL</h1>
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column auto"></div>
          <div class="column is-half has-text-centered">
            <%= if get_flash(@conn, :info) do %>
            <p class="notification is-info" role="alert">
              <%= get_flash(@conn, :info) %>
            </p>
            <% end %>
            <%= if get_flash(@conn, :error) do %>
              <p class="notification is-danger" role="alert">
                <%= get_flash(@conn, :error) %>
              </p>
            <% end %>
              <%= @inner_content %>
          </div>
          <div class="column auto"></div>
        </div>
      </div>
    </div>
    <div class="hero-foot">
    &nbsp;
    </div>
  </section>
</body>

</html>
